///--------------------------------------------------------------------------///

@mixin result( $test ){
  $t: $test;
  $v: map-get( $t, verdict );
  $m: 'could not process test result';
  @if $x == true { //verdict
    $m: '#{$name} passed!';    
  } @else {
    $m: '#{$name} failed: #{$x}'; //reason  
  }
  /* #{$m} */
}

///--------------------------------------------------------------------------///

@mixin complete(){
  $m: 'calculating results...';  
  $p: 0; //length($passed);
  $t: 0;
  $s: compare( $p, $t );
  
  @if $DEBUG { /* passed: #{$p}, total: #{$t}, equal: #{$s} */ }
  
  @if $s {
    $m: 'All tests passed!'
  }
  @else {
    $f: length( $failed );
    $m: '#{$f} tests failed... #{$failed}'
  }
  /* #{$m} */
}

///--------------------------------------------------------------------------///