///--------------------------------------------------------------------------///

//name test
$n: apply;
$a: ( thru, 1 );
$e: 1; 
$t: test( $n, arg, $a, $e );
@include result( $n, $t );

///--------------------------------------------------------------------------///