///--------------------------------------------------------------------------///

/// compare tests
$n: compare;

$v: numbers;
$a: ( 1, 1 );
$t: test( $n, $a, true, $v );
@include result( $t );

//@note there's a problem with maps and apply...
//$t: testv( $v, $n, $a );
//@include result( $n, $t );

///--------------------------------------------------------------------------///