///--------------------------------------------------------------------------///

/// construct tests

$n: construct;
$k: ( args: ( my, keys ) );
$a: $k;
$e: ( my: (), keys: () );  
$t: test( $n, $a, $e );
@include result( $t );

$v: ( a, 2 );
$a: ( args: ( $k, $v ) );
$e: ( my: a, keys: 2 );  
$t: test( $n, $a, $e );
@include result( $t );



///--------------------------------------------------------------------------///