///--------------------------------------------------------------------------///

/// increase test
$n: decrease;
$c: counter;
$m: ( #{$c}: 5 );
$r: call( $n, $m, $c, 3 );
$x: get( $r, $c );
$e: 2;
$t: test( $n, $x == $e );
@include result( $t );

///--------------------------------------------------------------------------///