///--------------------------------------------------------------------------///

/// divide test
$n: divide;
$a: ( args: ( my: map, to: $n ) );
$e: ( ( my, to ), ( map, $n ) );
$t: test( $n, $a, $e );
@include result( $t );



///--------------------------------------------------------------------------///