///--------------------------------------------------------------------------///

/// compare test
$n: each;

@function each-test( $x ){
  @return to-lower-case( $x );
}


$r: each( ( A, B, C ), 'each-test' );
$e:( a, b, c );

$t: test( $n, $r, $e );
@include result( $t );

///--------------------------------------------------------------------------///