///--------------------------------------------------------------------------///

/// compare test
$n: equal;
$a: ( 1, a );

$t: test( $n, $a );
@include result( $n, $t );

///--------------------------------------------------------------------------///