///--------------------------------------------------------------------------///

/// explode test
$n: explode;
$a: ( testing-123, '-' );
$e: ( testing 123 ); 
$t: test( $n, $a, $e );
@include result( $n, $t );

///--------------------------------------------------------------------------///