///--------------------------------------------------------------------------///

/// has test
$n: has;

$m: ( a: map );
$a: ( $m, a );
$t: test( $n, $a );
@include result( $t );

$v: 'return';
$a: ( $m, a, true );
$e: map;
$t: test( $n, $a, $e );
@include result( $t );

$v: 'default';
$a: ( $m, b, true, null );
$e: null;
$t: test( $n, $a, $e );
@include result( $t );

///--------------------------------------------------------------------------///