///--------------------------------------------------------------------------///

  $s: string;
  
  $n: str-last;  
  $a: $s;
  $e: g;
  $t: test( $n, $a, $e );
  @include result( $t );

  $n: last;
  $a: ( $s, 4 );
  $e: ring;
  $t: test( $n, $a, $e );
  @include result( $t );
  
  $a: ( $s, $e );
  $t: test( $n, $a, $e );
  @include result( $t );
    
  $n: last-word;  
  $a: hyphen-word;
  $e: word;
  $t: test( $n, $a, $e );
  @include result( $t );
      
  $n: last-char;
  $a: ( $n );
  $e: r;
  $t: test( $n, $a, $e );
  @include result( $t );
  
  $a: ( $n, true );
  $e: tr;
  $t: test( $n, $a, $e );
  @include result( $t );

///--------------------------------------------------------------------------///

  $n: last;
  //array (list) tests  
  $x: things;
  $a: ( args: ( list of $x ) );  
  $e: $x;
  $t: test( $n, $a, $e );
  @include result( $t );

  $e: ( of $x );
  $a: ( $a, $e );
  $t: test( $n, $a, $e );
  @include result( $t );
  
  
  
///--------------------------------------------------------------------------///