///--------------------------------------------------------------------------///

/// pop test
$n: list-pop;

$a: ( my list here );
$e: ( here, ( my list ) );
$t: test( $n, $a, $e );
@include result( $t );

$a: ( $a, 2 );  
$e: list here, append( (), my ); //hack because https://github.com/sass/sass/issues/679
$t: test( $n, $a, $e );
@include result( $t );



///--------------------------------------------------------------------------///