///--------------------------------------------------------------------------///

/// reverse test
$n: list-reverse;

$a: ( my list here );
$e: ( here, ( my list ) );
$t: test( $n, $a, $e );
@include result( $t );

///--------------------------------------------------------------------------///