///--------------------------------------------------------------------------///

/// split test
$n: split;
$a: ( args: ( my: map, to: split ) );
$e: ( my, map, to, split );
$t: test( $n, $a, $e );
@include result( $t );



///--------------------------------------------------------------------------///