///--------------------------------------------------------------------------///

//name test
$n: type;

$a: 'a string';
$e: 'string'; 
$t: testv( 'standard', $n, $a, $e );
@include result( $n, $t );


$a: ( $a, $e );
$t: testv( 'against', $n, $a );
@include result( $n, $t );


///--------------------------------------------------------------------------///