///--------------------------------------------------------------------------///

//name test
$n: types;
$a: ( true, 1 );
$e: ( 'bool', 'number' );
/* #{type-of($a)} */
$t: test( $n, $a, $e );
@include result( $n, $t );


///--------------------------------------------------------------------------///