///--------------------------------------------------------------------------///

$m1: (
  key: value,
  sub: (
    skey: svalue
  )
);

$m2: (
  sub: (
    skey: changed
  )
);

$e: (
  key: value,
  sub: (
    skey: changed
  )
);

//name test
$n: update;
$a: ( $m1, $m2 );
$t: test( $n, $a, $e );
@include result( $t );


///--------------------------------------------------------------------------///